/* contact header */
.contact__header {
  margin: 80px 0;
}
.contact__header > h1 {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 3.2rem;
  margin-bottom: 20px;
}
.contact__header > p {
  color: #666666;
  font-size: 1.4rem;
}

/* contact section */
.contact__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

/* left contact section */
.contact__section > .left__contact__section {
  width: 40%;
}
.contact__section > .left__contact__section > h1 {
  font-weight: normal;
  font-size: 2rem;
  margin-bottom: 25px;
}
.contact__section > .left__contact__section > p {
  font-size: 1rem;
  color: #666666;
  margin-bottom: 70px;
}

/* right contact section */
.contact__section > .right__contact__section {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contact__section > .right__contact__section > input,
.contact__section > .right__contact__section > textarea,
.contact__section > .right__contact__section > button {
  width: 100%;
  outline: none;
  padding: 15px;
  margin: 15px 0;
  font-size: 1.2rem;
  border: none;
  border-bottom: 1px solid;
}
.contact__section > .right__contact__section > textarea {
  resize: vertical;
}
.contact__section > .right__contact__section > input::placeholder,
.contact__section > .right__contact__section > textarea::placeholder {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 1rem;
}
.contact__section > .right__contact__section > button {
  border: none;
  background-color: #fff;
  border: 1px solid;
  margin-top: 30px;
  cursor: pointer;
  transition: 0.3s;
}
.contact__section > .right__contact__section > button:hover {
  background-color: #000;
  color: #fff;
}

/* screen size 1024px */
@media only screen and (max-width: 1024px) {
  /* contact header */
  .contact__header {
    margin: 60px 0 100px;
  }
  .contact__header > h1 {
    font-size: 3rem;
  }
  .contact__header > p {
    font-size: 1.2rem;
  }

  /* contact section */
  .contact__section {
    margin-bottom: 50px;
  }
}

/* screen size 768px */
@media only screen and (max-width: 768px) {
  /* contact header */
  .contact__header {
    margin: 70px 0 100px;
  }
  .contact__header > h1 {
    font-size: 2.7rem;
  }
  .contact__header > p {
    font-size: 1rem;
  }

  /* contact section */
  .contact__section {
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }

  /* left contact section */
  .contact__section > .left__contact__section {
    width: 80%;
    margin-bottom: 20px;
  }

  /* right contact section */
  .contact__section > .right__contact__section {
    width: 80%;
  }
}

/* screen size 480px */
@media only screen and (max-width: 480px) {
  /* contact header */
  .contact__header {
    margin: 40px 0 90px;
  }
  .contact__header > h1 {
    font-size: 2.5rem;
  }
  .contact__header > p {
    font-size: 1rem;
  }

  /* left contact section */
  .contact__section > .left__contact__section {
    width: 90%;
    margin-bottom: 20px;
  }
  .contact__section > .left__contact__section > p {
    margin-bottom: 60px;
  }

  /* right contact section */
  .contact__section > .right__contact__section {
    width: 90%;
  }
}

/* screen size 360px */
@media only screen and (max-width: 360px) {
  /* contact header */
  .contact__header {
    margin: 50px 0 90px;
  }
  .contact__header > h1 {
    font-size: 2.2rem;
  }

  /* left contact section */
  .contact__section > .left__contact__section {
    width: 100%;
  }
  .contact__section > .left__contact__section > h1 {
    font-size: 1.7rem;
  }

  /* right contact section */
  .contact__section > .right__contact__section {
    width: 100%;
  }
}
