/* home banner section */
.home__banner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 7% 0;
}

/* left banner */
.home__banner > .left__banner {
  width: 55%;
}
.home__banner > .left__banner > img {
  width: 100%;
  filter: grayscale(100%);
}
.home__banner > .left__banner > p {
  font-weight: bold;
  font-family: "Frank Ruhl Libre", serif;
  font-size: 5rem;
  margin-bottom: 30px;
}

/* right banner */
.home__banner > .right__banner {
  width: 30%;
}
.home__banner > .right__banner > img {
  width: 100%;
}
.home__banner > .right__banner > p {
  color: #666666;
  font-weight: normal;
  margin: 25px 0 50px;
  line-height: 1.5;
}
.home__banner > .right__banner > .banner__button {
  padding: 12px 30px;
  text-decoration: none;
  color: #000;
  border: 1px solid;
  transition: 0.3s;
}
.home__banner > .right__banner > .banner__button:hover {
  color: #fff;
  background-color: #000;
}

/* home product section */
.home__product {
  margin-top: 50px;
}
.home__product > h1 {
  font-weight: bold;
  font-size: 2.7rem;
  font-family: "Frank Ruhl Libre", serif;
}
.home__product > p {
  color: #666666;
  margin: 20px 0 80px;
}
.home__product > div {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

/* thoughts section */
.thoughts {
  text-align: center;
  width: 60%;
  margin: auto;
  font-size: 1.3rem;
  font-weight: bold;
  font-family: "Frank Ruhl Libre", serif;
  margin-top: 220px;
  line-height: 1.8;
}
.thoughts > span {
  font-size: 5rem;
  line-height: 0;
  color: #bbbbbb;
}

/* news section */
.news {
  text-align: center;
  margin-top: 160px;
  padding: 50px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.05);
}
.news > h1 {
  font-weight: bold;
  font-size: 2.7rem;
  font-family: "Frank Ruhl Libre", serif;
}
.news > p {
  color: #666666;
  margin: 20px 0 0;
}
.news > div {
  display: flex;
  text-align: left;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 70px;
}

/* news letter section */
.news__letter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 170px;
  border-top: 2px #e9e9e9 solid;
  border-bottom: 2px #e9e9e9 solid;
  padding: 90px 0;
}

/* left news letter */
.news__letter > .left__news__letter > a {
  text-decoration: none;
  color: #000;
  opacity: 0.5;
  margin-right: 80px;
  transition: 0.3s;
  font-size: 1.1rem;
}
.news__letter > .left__news__letter > a:hover {
  opacity: 1;
}

/* right news letter */
.news__letter > .right__news__letter {
  width: 50%;
}
.news__letter > .right__news__letter > h1 {
  font-family: "Frank Ruhl Libre", serif;
  margin-bottom: 40px;
}
.news__letter > .right__news__letter > form {
  border-bottom: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  width: 100%;
}
.news__letter > .right__news__letter > form > input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 1.2rem;
  color: #666666;
}
.news__letter > .right__news__letter > form > button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

/* screen size 1024px */
@media only screen and (max-width: 1024px) {
  /* home banner section */
  .home__banner {
    padding: 0;
    margin-top: 80px;
  }

  /* left banner */
  .home__banner > .left__banner {
    width: 55%;
  }
  .home__banner > .left__banner > p {
    font-size: 3.5rem;
  }

  /* right banner */
  .home__banner > .right__banner {
    width: 35%;
  }

  /* home product section */
  .home__product {
    margin-top: 140px;
  }
  .home__product > p {
    margin: 20px 0 60px;
  }
  .home__product > div {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  /* thoughts section */
  .thoughts {
    width: 80%;
    margin-top: 180px;
  }

  /* news section */
  .news {
    padding: 50px 30px;
  }
  .news > h1 {
    font-size: 2.5rem;
  }

  /* news letter section */
  .news__letter {
    justify-content: space-between;
    margin-top: 150px;
  }

  /* left news letter */
  .news__letter > .left__news__letter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .news__letter > .left__news__letter > a {
    margin: 40px 0;
  }

  /* right news letter */
  .news__letter > .right__news__letter {
    width: 60%;
  }
}

/* screen size 768px */
@media only screen and (max-width: 768px) {
  /* home banner section */
  .home__banner {
    flex-direction: column;
  }

  /* left banner */
  .home__banner > .left__banner {
    width: 90%;
  }
  .home__banner > .left__banner > p {
    margin-bottom: 40px;
  }

  /* right banner */
  .home__banner > .right__banner {
    width: 90%;
  }
  .home__banner > .right__banner > img {
    display: none;
  }
  .home__banner > .right__banner > p {
    margin: 60px 0;
    font-size: 1.1rem;
    line-height: 1.7;
  }

  /* home product section */
  .home__product > h1 {
    font-size: 2.3rem;
  }
  .home__product > div {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  /* thoughts section */
  .thoughts {
    width: 90%;
    margin-top: 150px;
  }

  /* news section */
  .news > div {
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    flex-direction: column;
  }

  /* news letter section */
  .news__letter {
    justify-content: space-between;
    margin-top: 150px;
    padding: 60px 0;
  }

  /* left news letter */
  .news__letter > .left__news__letter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .news__letter > .left__news__letter > a {
    margin: 40px 0;
  }

  /* right news letter */
  .news__letter > .right__news__letter {
    width: 70%;
  }
  .news__letter > .right__news__letter > h1 {
    font-size: 1.7rem;
  }
  .news__letter > .right__news__letter > form {
    width: 100%;
  }
}

/* screen size 480px */
@media only screen and (max-width: 480px) {
  /* left banner */
  .home__banner > .left__banner {
    width: 100%;
  }
  .home__banner > .left__banner > p {
    margin-bottom: 40px;
    font-size: 2.8rem;
  }
  .home__banner > .left__banner > img {
    filter: grayscale(0);
  }

  /* right banner */
  .home__banner > .right__banner {
    width: 100%;
  }
  .home__banner > .right__banner > img {
    display: none;
  }
  .home__banner > .right__banner > p {
    margin: 60px 0;
    font-size: 1.1rem;
    line-height: 1.7;
  }

  /* home product section */
  .home__product {
    margin-top: 130px;
  }
  .home__product > h1 {
    font-size: 2.1rem;
  }
  .home__product > p {
    font-size: 1rem;
    margin: 20px 0 40px;
    line-height: 1.5;
  }

  /* thoughts section */
  .thoughts {
    width: 95%;
    margin-top: 130px;
    font-size: 1.2;
    line-height: 1.5;
  }

  /* news section */
  .news > h1 {
    font-size: 2.2rem;
  }
  .news > p {
    margin: 15px 0 0;
  }
  .news > div {
    margin-top: 70px;
  }

  /* news letter section */
  .news__letter {
    flex-direction: column;
  }

  /* left news letter */
  .news__letter > .left__news__letter {
    flex-direction: row;
  }
  .news__letter > .left__news__letter > a {
    margin: 0 30px;
  }

  /* right news letter */
  .news__letter > .right__news__letter {
    width: 90%;
    margin-top: 70px;
  }
  .news__letter > .right__news__letter > h1 {
    font-size: 1.7rem;
  }
  .news__letter > .right__news__letter > form {
    width: 100%;
  }
}

/* screen size 360px */
@media only screen and (max-width: 360px) {
  /* home banner section */
  .home__banner {
    margin-top: 50px;
  }

  /* left banner */
  .home__banner > .left__banner > p {
    margin-bottom: 40px;
    font-size: 2.2rem;
  }

  /* right banner */
  .home__banner > .right__banner > p {
    font-size: 1rem;
    line-height: 1.5;
  }

  /* home product section */
  .home__product {
    margin-top: 120px;
  }

  /* thoughts section */
  .thoughts {
    margin-top: 100px;
    font-size: 1.1rem;
  }

  /* news section */
  .news {
    margin-top: 100px;
  }
  .news > h1 {
    font-size: 2rem;
  }

  /* news letter section */
  .news__letter {
    margin-top: 120px;
  }

  /* left news letter */
  .news__letter > .left__news__letter > a {
    margin: 0 20px;
  }
}
