.news__card {
  width: 25%;
  text-decoration: none;
  cursor: pointer;
}
.news__card > img {
  width: 100%;
  filter: grayscale(100%);
}
.news__card:hover > img {
  filter: none;
}
.news__card > p {
  color: #aaaaaa;
  margin: 10px 0 15px;
  font-size: 0.9rem;
}
.news__card > h1 {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 1.3rem;
  color: #000;
}

/* screen size 1024px */
@media only screen and (max-width: 1024px) {
  .news__card {
    width: 27%;
  }
}

/* screen size 768px */
@media only screen and (max-width: 768px) {
  .news__card {
    width: 60%;
    margin-bottom: 80px;
  }
}

/* screen size 480px */
@media only screen and (max-width: 480px) {
  .news__card {
    width: 80%;
    margin-bottom: 60px;
  }
  .news__card > img {
    filter: grayscale(0);
  }
}

/* screen size 360px */
@media only screen and (max-width: 360px) {
  .news__card {
    width: 95%;
  }
}
