/* products banner */
.products__banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65vh;
}
.products__banner > h1 {
  font-size: 4rem;
  font-family: "Frank Ruhl Libre", serif;
  width: 45%;
  border-right: 4px solid #bbbbbb;
  padding-right: 50px;
}
.products__banner > p {
  font-size: 1.5rem;
  width: 47%;
  line-height: 1.7;
}

/* product selection section */
.product__selection {
  margin-top: 30px;
  margin-bottom: 200px;
}
.product__selection > h1 {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 1.8rem;
  margin-bottom: 60px;
  padding: 15px 0;
  border: 2px solid;
  text-align: center;
}
.product__selection > .product__selection__type {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.product__selection > .product__selection__type > div {
  margin-right: 100px;
}
.product__selection > .product__selection__type > div > p {
  font-size: 1.3rem;
  color: #666666;
  margin-bottom: 20px;
}
.product__selection > .product__selection__type > div > select {
  outline: none;
  padding: 10px;
  width: 200px;
  cursor: pointer;
  font-size: 1rem;
}
.product__selection > .product__selection__type > div > select > option {
  font-size: 1rem;
}
