/* product banner */
.product__banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75vh;
}
.product__banner > h1 {
  font-size: 4rem;
  font-family: "Frank Ruhl Libre", serif;
  width: 45%;
  border-right: 4px solid #bbbbbb;
  padding-right: 50px;
}
.product__banner > p {
  font-size: 1.5rem;
  width: 47%;
  line-height: 1.7;
}

/* product section */
.product__section {
  margin-top: 30px;
  margin-bottom: 100px;
}
.product__section > h1 {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 1.8rem;
  padding: 15px 0;
  border: 2px solid;
  text-align: center;
  margin-bottom: 30px;
}

/* screen size 1024px */
@media only screen and (max-width: 1024px) {
  /* product banner */
  .product__banner > h1 {
    font-size: 3rem;
  }
  .product__banner > p {
    font-size: 1.3rem;
    width: 43%;
  }

  /* product section */
  .product__section {
    margin-top: 30px;
    margin-bottom: 50px;
  }
}

/* screen size 768px */
@media only screen and (max-width: 768px) {
  /* product banner */
  .product__banner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .product__banner > h1 {
    border: none;
    width: 90%;
    margin-bottom: 70px;
  }
  .product__banner > p {
    font-size: 1.2rem;
    width: 90%;
  }
}

/* screen size 480px */
@media only screen and (max-width: 480px) {
  /* product banner */
  .product__banner > h1 {
    width: 100%;
    margin-bottom: 50px;
    font-size: 2.5rem;
  }
  .product__banner > p {
    width: 100%;
  }

  /* product section */
  .product__section > h1 {
    font-size: 1.7rem;
  }
}

/* screen size 360px */
@media only screen and (max-width: 360px) {
  /* product banner */
  .product__banner > h1 {
    margin-bottom: 70px;
    font-size: 2.2rem;
  }

  /* product section */
  .product__section {
    margin-top: 30px;
    margin-bottom: 100px;
  }
  .product__section > h1 {
    font-family: "Frank Ruhl Libre", serif;
    font-size: 1.5rem;
    padding: 15px 0;
    border: 2px solid;
    text-align: center;
    margin-bottom: 30px;
  }
}
